
/*-------------------------------------greeting-top-block-------------------------------------*/
.greeting-top-block{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    margin-bottom: 64px;
}
.greeting-top-block-text-div{
    background: rgba(222, 214, 212, 0.7);
    height: min-content;
    display: flex;
    flex-direction: column;
}
.greeting-top-block-text-div>h1,p{
    margin: 0px;
}
.line{
    background: black;
    height: 0.5px;
    width: 540px;
    margin-left: auto;
    margin-right: auto;
}

/*-------------------------------------info-blocks-------------------------------------*/
.info-block{
    margin-bottom: 40px;
    margin-top: 40px;
}
.info-block>img{
    width: 90%;
    height: auto;
    margin: auto;
}
.welcome-to-yourplant-block{
    margin-top: 64px;
}
.a{
    margin-top: 12px;
    text-decoration: underline;
    font-size: 18px;
    color: black;
}
/*-------------------------------------popular-products-block-------------------------------------*/
.popular-products-block>h1{
    text-align: center;
    margin-top: 0px;
}
.popular-products-block{
    margin-top: 66px;
    margin-bottom: 100px;
}
.popular-main{
    display: grid;
    grid-gap: 39px;

}
.popular-main2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 34px;
    grid-row-gap: 9px;
}
.popular-products-block img{
    max-width: 100%;
    height: auto;
}
/*-------------------------------------why-yourplant-block-------------------------------------*/
.why-yourplant-block{
    padding-top: 113px;
    padding-bottom: 113px;
    background: #F6F4F3;
    margin-bottom: 64px;
}
.why-yourplant-block>h1{
    text-align: center;
}
.why-yp-text-div{
    display: flex;
}
.why-yourplant-block>h1{
    margin-bottom: 52px;
    color: #707070;
}
.why-yp-text-div h2{
    text-align: center;
}
/*-------------------------------------to-products-button-block-------------------------------------*/
.to-products-button-block{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 64px;

}
.wrapper-button{
    background: #92B765;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper-button a{
    text-decoration: none;
    color: black;
}
.next{
    font-size: 50px;
    margin-left: 17px;
}


/*-------------------------------------media-------------------------------------*/

@media (min-width:1025px ) {
    .greeting-top-block {
        height: 572px;
        background-image: url("Images/desktop-20200922_Bloomscape_Katie__0055-1-edited-2048x1368.jpg");

    }
    .greeting-top-block-text-div {
        margin-top: 84px;
    }

    .popular-main{
        grid-template-columns: 50fr 57fr;

    }
    .cat-photo>p{

        text-align: center;
        background: #f6f6f6;
        color: #878585;
    }
    .cat-photo>div{
        height: 1px;
        background: #878585;
    }
    .categories-block img{
        max-width: 100%;
        height: auto;

    }
    .all-you-need{
        grid-row-start: 2;
        grid-column-start: 2;
        grid-column-end: 4;
    }
}

@media (max-width: 1024px) and (min-width: 750px) {
    .greeting-top-block {
        height: 1132px;
        background-image: url("Images/20200922_Bloomscape_Katie__0055-1-edited-2048x1368.jpg");
    }

    .greeting-top-block-text-div {
        margin-top: 298px;
    }

    .cat-photo {
        height: 200px;
    }
    .cat-photo>p {
        height: 60px;
    }
    .price{
        font-size: 16px;
    }
    .why-yourplant-block h1{
        margin-top: 0px;
    }
    .categories-block {
        padding-top: 79px;
        padding-bottom: 112px;
    }
    .info-block h1{
        font-size: 30px;
    }
}
@media (max-width:750px) {
    .greeting-top-block {
        height: 505px;
        background-image: url("Images/20200922_Bloomscape_Katie__0055-1-edited-2048x1368.jpg");
    }
    .greeting-top-block-text-div {
        margin-top: 97px;
        width: 272px;
    }
    .greeting-top-block h1{
        font-size: 24px;
    }

    .line{
        width: 250px;
    }
    .info-block {
        display: flex;
        flex-wrap: wrap;
    }
    .welcome-to-yourplant-block{
        flex-wrap: wrap-reverse;
    }
    .info-block h1{
        font-size: 24px;
        text-align: center;
    }
    .info-block p{
        font-size: 18px;
        margin-bottom: 8px;
    }
    .a{
        font-size: 18px;
        text-align: center;
        text-decoration: underline;
        margin-bottom: 28px;
    }
    .all-you-need h1{
        font-size: 24px;
        margin-bottom: 8px;
    }
    .all-you-need p{
        font-size: 18px;
    }
    .cat-photo {
        height: 120px;
    }
    .cat-photo>p {
        height: 20px;
    }
    h1{
        font-size: 24px;
    }
    h2{
        font-size: 20px;
    }
    .price{
        font-size: 14px;
    }
    .categories-block{
        padding-top: 39px;
        padding-bottom: 39px;

    }
    .why-yp-text-div{
        flex-direction: column;
        text-align: center;
    }
    .vertical-line{
        height: 1px;
        width: 250px;
        background: black;
        margin-left: auto;
        margin-right: auto;
    }
    .why-yp-text-div>div{
        margin-bottom: 21px;
    }
    .why-yp-text-div h2{
        margin-top: 0px;
    }
    .why-yourplant-block h1{
        margin-bottom: 30px;
        color: #707070;
    }
    .why-yourplant-block {
        padding-top: 38px;
        padding-bottom: 38px;
    }
    .wrapper-button {
        width: 98%;
        height: 82px;
        font-size: 16px;
    }
    .next {
        font-size: 40px;
        margin-left: 2px;
    }
}
@media (max-width: 1025px){
    /**/
    .categories-block{
        display: grid;
        grid-template-columns: 1fr;
        background: #C5DAE1;

    }
    .cat-photo>p{
        background: rgba(246, 246, 246, 0.7);
        color: #878585;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
    }
    .cat-photo>div{
        height: 1px;
        background: #878585;
    }
    .categories-block img{
        visibility: hidden;
        position: absolute;

    }
    .all-you-need{
        text-align: center;
        grid-row-start: 1;
        margin-bottom: 38px;
    }
    .cat-photo{
        color: #878585;
        margin-bottom: 28px;
        background-repeat: no-repeat;
        background-size: 100%;
        position: relative;
        background-position: center;
    }
    .cat-photo1{
        background-image: url("Images/Categories/Aspleniumsp-Bird_sNestFern-pistilsnursery_1312x1696-mobile.jpg");
    }
    .cat-photo2{
        background-image: url("Images/Categories/apothecary-aerium-air-plant-terrarium-pistils-nursery_6cc72a6e-1a58-4ef5-88ae-2d9b3b4ccb7d_1050x1359-mobile.webp");
    }
    .cat-photo3{
        background-image: url("Images/Categories/hand_thrown_ceramic_planter_-_pistils_nursery_1050x1359-mobile.webp");

    }
    .cat-photo4{
        background-image: url("Images/Categories/Pumice_-_pistils_nursery-2_1050x1359-mobile.jpg");
    }
    .popular-main{
        grid-template-columns: 1fr;

    }
}
@media (min-width: 750px) {
    .info-block {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .back-ellips-1{
        background-image: url("Images/Rectangle 92.png");
        background-position: top ;

        background-repeat: no-repeat;
        background-size: contain;
        position: relative;
        resize: both;


        width: inherit;
        height: inherit;
    }
    .back-ellips-2{
        background-image: url("Images/Rectangle 91.png");
        background-position: top ;

        background-repeat: no-repeat;
        background-size: contain;
        position: relative;
        resize: both;

        width: inherit;
        height: inherit;
    }
    .info-block-text1{
        margin-left: 38%;
        margin-top: 21%;
    }
    .info-block-text1>h1{
        margin-bottom: 5px;
    }
    .info-block-text1>p{
        font-size: 20px;
    }
    .info-block-text2{
        margin-top: 21%;
        margin-right: 16%;
    }
    .info-block-text2>h1{
        margin-bottom: 5px;
    }
    .info-block-text2>p{
        font-size: 20px;
    }
    .prod-name{
        font-size: 18px;
    }
    .price{
        font-size: 16px;
    }

    .vertical-line{
        height: inherit;
        width: 1px;
        background: black;
        margin-right: 28px;
        margin-left: 28px;
    }

    .wrapper-button {
        width: 65%;
        height: 133px;
        font-size: 25px;
    }
    .why-yp-text-itself{
        width: 33%;
    }
}
@media (min-width: 1441px) {
    .categories-block{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-column-gap: 160px;
        grid-row-gap: 64px;
        background-image: url("Images/Categories/Rectangle 15.png");

        padding-top: 79px;
        padding-bottom: 112px;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        background-position: center;

    }
    .all-you-need{
        padding-left: 83px;
        padding-right: 174px;
    }

}

@media (max-width: 1441px) and (min-width: 1024px)  {
    .categories-block{
        padding-top: 79px;
        padding-bottom: 112px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-column-gap: 140px;
        grid-row-gap: 44px;
        background-image: url("Images/Categories/Rectangle 15.png");

        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        background-position: center;

    }
    .all-you-need{
        padding-left: 73px;
        padding-right: 96px;
    }
    .all-you-need h1{
        margin-top: 0px;
    }
}