body{
    font-family: "Raleway";
}

html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
header, footer{
    color: #2E4D7C;
    background: #A0C2CD;
}
/*-------------------------------------header-------------------------------------*/

.company-name:hover{
    cursor: pointer;
}
a:hover{
    text-decoration: underline;
    cursor: pointer;
}
header {
    display: flex;
    height: 53px;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}
.logo{
    font-size: 30px;
    margin-right: 9px;
}
.company-name{
    font-size: 25px;
    margin-right: 122px;
}
header a{
    color: #2E4D7C;
    text-decoration: none;
}
.header-links{
    display: flex;
    font-size: 18px;
}
.header-links>a{
    margin-right: 23px;
}
.header-cart{
    margin-left: auto;
    font-size: 18px;
}

/*-------------------------------------footer-------------------------------------*/

footer{
    padding-top: 90px;
    padding-bottom: 56px;
}
.ftr-line{
    height: 1px;
    background: #4E6A8F;
}
.footer-wrapper{
    display: flex;
    justify-content: space-between;
}
.footer-wrapper>div{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.space-before{
    height: 64px;
    background: #A0C2CD;
}
footer a{
    color: #2E4D7C;
    text-decoration: none;
}
/*-------------------------------------media-------------------------------------*/

@media (min-width: 1255px) {
    body>*{
        padding-left: 250px;
        padding-right: 250px;
    }
}
@media (max-width: 1255px) and (min-width: 1024px)  {
    body>*{
        padding-left: 100px;
        padding-right: 100px;
    }
}
@media (max-width: 1024px) and (min-width: 750px) {
    body>*{
        padding-left: 27px;
        padding-right: 27px;
    }

}
@media (max-width:750px) {
    body>*{
        padding-left: 15px;
        padding-right: 15px;
    }
    .menu{
        height: 25px;
        width: 29px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin-left: auto;
    }
    .menu>div{
        height: 5px;
        width: inherit;
        background: #4E6A8F;
    }
    .header-links{
        visibility: hidden;
        position: absolute;
    }
    .header-cart{
        visibility: hidden;
        position: absolute;
    }
    .footer-wrapper{
        flex-direction: column;
        height: 430px;
    }


}

